*.o
*.dep
*.out
*.sim
*.bin
*.map
*.cout
*.pbi
*.pbi.*
*.json
*.ewp
*.pbd
*.pbd.*
*.dbgdt
*.din
*.Release.*.*
*.wsdt
*.crf
*.d
*.hex
*.axf
*.build_log*
*.htm
*.lnp
*.lst
*.dll
*.zip
*.pdf
*.docx
*.html
*.sb
*.log
*.cmake
*.rsp
*.a
*.ts
*.obj
*.yaml
*.check_cache
*.make
*.exe
*.marks
user/JLinkLog.txt
user/F2_F4_RT1011_APP.uvprojx
user/F2_F4_RT1011_APP.uvoptx
user/F2_F4_RT1011_APP.uvguix.Administrator
